<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990032124204-mvupbloidi3gqgb3f7n1dkft8p90qi9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990032124204-mvupbloidi3gqgb3f7n1dkft8p90qi9n</string>
	<key>API_KEY</key>
	<string>AIzaSyAEeyIqDN9VJzvf-PqYjSR5dypjPcTDHC4</string>
	<key>GCM_SENDER_ID</key>
	<string>990032124204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CJ.CryptoX15</string>
	<key>PROJECT_ID</key>
	<string>cryptox15-46c07</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptox15-46c07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990032124204:ios:27b86fdb637b4fb1f97489</string>
</dict>
</plist>